main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-blog-form-container {

    padding: 25px 65px 45px 40px;
    max-width: 480px;
    margin: 25px auto;
    /* padding: 20px; */
    background-color: #F8F8EE;
    border-radius: 8px;
    box-shadow: 0 40px 20px rgba(0, 0, 0, 0.1);
}

/* Logo styles */
.new-blog-form-container .logo {
    display: block;
    margin: 0 auto 20px; 
    height: 5vh;
}

.new-blog-form-container h1 {
    text-align: center; 
    font-size: 24px;
    color: #333; 
    margin-bottom: 20px;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 472px;
}

.editable-title {
    font-size: 24px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    transition: border-color 0.2s;
}

.editable-title:focus {
    border-color: #007bff;
    outline: none;
}

.editable-content {
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    height: 150px;
    border-radius: 4px;
    transition: border-color 0.2s;
    overflow-y: auto;
}

.editable-content:focus {
    border-color: #007bff;
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

/*  popup  */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Display above other elements */
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup.active {
    display: block; /* Display when active */
    opacity: 1; /* Fade in effect */
}
