<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to iWrite</title>
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/welcome.css">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <img src="images/iwrite-svg.svg" alt="iWrite Logo" class="logo">
            <h1>Welcome to iWrite</h1>
            <h2 style="margin-bottom: 10px;">iWrite is a light-weight microblogging app.</h2>
        </div>
        <div class="right-section">
            <h3>GET STARTED</h3>
            <div class="button-container">
                <a id="sign-up" href="/register" class="button">New User? Sign Up</a>
                <a id="sign-in" href="/login" class="button">Already a user? Login</a>
                <a id="browse-article" href="/home" class="button">Browse Articles Anonymously</a>
            </div>
        </div>
    </div>
</body>
</html>